.contenedor_principal {
  background-image: url(../../../assets/images/homesection4/img0.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0px;
  padding-bottom: 300px;
  border-radius: 50px 50px 0px 0px;
  margin-bottom: -250px;
  width: 100%;
}

.lineUp {
  height: 8px;
  width: 100px;
  margin: auto;
  background-color: var(--color-secundario);
  border-radius: 50px;
}

.contenedor_principal h1 {
  font-size: 2.2rem;
  padding-inline: 30px;
  margin-top: 40px;
  text-align: center;
  color: var(--color-titulos);
}
.contenedor_principal p {
  margin-top: 20px;
  text-align: center;
  color: var(--color-texto);
  font-size: 1.1rem;
  padding-inline: 350px;
}
.contenedor_principal .box_btn {
  text-align: center;
  margin-top: 50px;
}

.btn_grande {
  padding: 14px 54px;
  border-radius: 10px;
  background: var(--color-secundario);
  color: white;
  outline: none;
  border: 2px var(--color-secundario);
  cursor: pointer;
  transition: all 0.3s;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "poppins";
}

.btn_grande:hover {
  filter: brightness(1.15);
}

@media screen and (min-width: 651px) and (max-width: 1300px) {
  .contenedor_principal p {
    padding-inline: 20%;
  }
}

@media screen and (max-width: 800px) {
  .btn_grande {
    padding: 18px 90px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .contenedor_principal h1 {
    font-size: 1.8rem;
  }
  .contenedor_principal p {
    font-size: 0.9rem;
    padding-inline: 10%;
  }
}
