.contenedor_principal {
  margin-top: 50px;
}
.lineUp {
  height: 8px;
  width: 100px;
  margin: auto;
  margin-bottom: 20px;
  background-color: var(--color-secundario);
  border-radius: 50px;
}

.contenedor_principal h1 {
  text-align: center;
  color: var(--color-titulos);
  font-size: 2rem;
  font-weight: 800;
}

.contenedor_principal p {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  color: var(--color-texto);
  font-size: 1.09rem;
}

@media screen and (max-width: 800px) {
  .lineUp {
    margin-top: 20px;
  }
}
