.menu_principal {
  position: relative;
  width: 100%;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 10%;
}
.btn_mobile {
  display: none;
}
.lmobile {
  display: none;
}

.logo img {
  width: 256px;
  padding-top: 30px;
  margin-left: 15px;
  cursor: pointer;
}

.botones .btn_grande {
  margin-right: 23px;
  padding: 14px 54px;
  border-radius: 10px;
  background: var(--color-secundario);
  color: white;
  outline: none;
  border: 2px var(--color-secundario);
  cursor: pointer;
  transition: all 0.3s;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "poppins";
}
.botones .btn_grande:hover {
  filter: brightness(1.15);
}

.botones .btn_lng {
  /*hacer btn redondo*/
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*End btn redondo*/
  border: none;
  background: transparent;
  color: var(--color-texto);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 650;
  margin: 0px 3px;
  padding: 0px 2px;
  transition: all 0.3s;
}

.botones .btn_lng:hover {
  background: var(--color-secundario);
  color: white;
}

/* RESPONSIVE MOBILE */
@media screen and (max-width: 800px) {
  .menu_principal {
    position: sticky;
    top: 0%;
    z-index: 2;
  }
  .container {
    display: flex;
    background-color: white;
    width: 100%;
    left: 0%;
  }
  .btn_mobile {
    display: inline;
    margin-right: 10px;
  }
  .btn_mobile .btn_icon {
    font-size: 2rem;
    cursor: pointer;
  }

  .logo {
    margin-left: 20px;
  }

  .logo .limg {
    width: 110px;
    height: auto;
    padding-top: 10px;
    display: none;
  }
  .logo .lmobile {
    display: inline;
    width: 160px;
    height: auto;
    padding-top: 15px;
  }
  .botones .btn_grande {
    display: none;
  }
  .botones .btn_lng {
    display: none;
  }
}
