.contenedor_principal {
  background-image: url(../../../assets/images/homesection5/bg1.png);
  background-size: 150% auto;
  background-position-x: center;
  background-repeat: no-repeat;
  padding: 150px 130px 50px 130px;
  width: 100%;
}

.lineUp {
  height: 8px;
  width: 100px;
  background-color: var(--color-elementos);
  border-radius: 50px;
  margin-bottom: 30px;
}

.text_box h1 {
  color: white;
  font-size: 2.2rem;
  margin-bottom: 0px;
}
.text_box p {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  width: 100%;
  font-weight: 300;
}

.number_box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.numberOne {
  margin-right: 0px;
}
.numberOne h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--color-elementos);
  font-size: 8rem;
  font-weight: 200;
}

.numberOne p {
  margin-top: -30px;
  color: white;
  font-size: 0.8rem;
}

.numberTwo h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  font-size: 8rem;
  font-weight: 200;
}

.numberTwo p {
  margin-top: -30px;
  color: white;
  font-size: 0.8rem;
}

.video_box {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding-bottom: 45px;
  width: 100%;
}

.img_video {
  width: 100%;
  /* height: 500px; */
  padding: 20px 30px;
  position: relative;
}
.img_video .view {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}
.img_video .btn_reproductor1 {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 10%;
  bottom: 10%;
}
.img_video .btn_reproductor2 {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 17%;
  bottom: 10%;
}
.img_video .btn_reproductor3 {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 24%;
  bottom: 10%;
}

.btn_funciones {
  margin-right: 0px;
  /* border: 2px solid rgb(187, 120, 20); */
  margin: 0px 10px;
}

.titulo {
  margin-bottom: 50px;
  padding-top: 50px;
  padding-right: 10px;
}

.titulo h1 {
  margin: -10px 0px;
  color: var(--color-titulos);
  font-size: 2.2rem;
}

.btn_funciones h1 span {
  color: var(--color-secundario);
}
.box_img {
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 5px 20px !important;
  transition: all 0.3s;
}

.box_img:hover {
  border: 2px solid var(--color-secundario);
  border-radius: 20px;
  box-shadow: 4px 6px 10px rgba(87, 230, 114, 0.3);
}

.btn_funciones img {
  width: 100%;
  height: 80px;
  object-fit: contain;
}

/* REPONSIVE */

@media screen and (min-width: 801px) and (max-width: 1250px) {
  .contenedor_principal {
    background-size: 270% 200%;
  }
  .video_box {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0px;
    width: 100%;
    margin-left: -5px;
    height: auto;
  }

  .img_video .btn_reproductor1 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 15%;
    bottom: 8%;
  }

  .img_video .btn_reproductor2 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 21%;
    bottom: 8%;
  }

  .img_video .btn_reproductor3 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 26%;
    bottom: 8%;
  }

  .titulo {
    text-align: center;
  }
  .titulo h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 800px) {
  .contenedor_principal {
    padding: 80px 0px 150px 0px;
    background-size: 300% 200%;
  }

  .lineUp {
    margin: auto;
  }

  .text_box h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
  }

  .text_box p {
    font-size: 1rem;
    padding-inline: 20px;
  }
  .number_box {
    display: block;
  }
  .number_box .numberOne {
    text-align: center;
  }
  .number_box .numberOne h1 {
    font-size: 6rem;
  }
  .number_box .numberOne p {
    font-size: 0.9rem;
    padding: 20px;
  }

  .number_box .numberTwo {
    text-align: center;
  }
  .number_box .numberTwo h1 {
    font-size: 6rem;
  }
  .number_box .numberTwo p {
    font-size: 0.9rem;
    padding: 20px;
  }

  .video_box {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0px;
    width: 100%;
    margin-left: -5px;
    height: auto;
  }

  .img_video .btn_reproductor1 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 15%;
    bottom: 12%;
  }

  .img_video .btn_reproductor2 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 21%;
    bottom: 12%;
  }

  .img_video .btn_reproductor3 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 26%;
    bottom: 12%;
  }

  .titulo {
    text-align: center;
  }
}
