.footer {
  background-color: #fff;
}

.footer_container {
  background: linear-gradient(
    to bottom left,
    var(--color-gris-background),
    var(--color-ligth-gris-background)
  );
  border-radius: 0 100px 0 0;
  padding: 5% 10% 5% 10%;
}

.lineUp {
  height: 8px;
  width: 100px;
  background-color: var(--color-secundario);
  border-radius: 50px;
  margin-bottom: 20px;
}

.footer_container h1 {
  font-size: 2.7rem;
  color: var(--color-titulos);

  font-weight: bold;
  margin-bottom: 20px;
}

.footer_form {
  display: flex;
  align-items: center;
  background-color: #dce2dd;
  border-radius: 50px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 2% 5% 3% 5%;
}

.footer_form input {
  background-color: #fff;
  padding: 20px 30px;
  border: 1px solid #fff;
  border-radius: 15px;
  margin-right: 2rem;
  height: 1.5rem;
  color: var(--color-texto);
  font-family: "poppins";
}

.footer_form input:focus-visible {
  outline: none;
  border: 1px solid var(--color-secundario);
}

.footer_form label {
  display: block;
  padding-bottom: 5px;
  color: var(--color-texto);
}

.form_button {
  align-self: end;
}
.form_button button {
  padding: 1rem 3rem;
  border-radius: 15px;
  background: var(--color-secundario);
  color: white;
  outline: none;
  border: 2px var(--color-secundario);
  cursor: pointer;
  transition: all 0.3s;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "poppins";
}

.form_button button:hover {
  filter: brightness(1.15);
}

/* RESPONSIVE */

@media screen and (max-width: 950px) {
  .lineUp {
    margin: auto;
  }
  .footer_container h1 {
    font-size: 2rem;
    text-align: center;
  }

  .footer_form {
    display: flex;
    flex-direction: column;
    padding: 2% 10% 3% 10%;
  }
  .form_button {
    align-self: center;
    margin-top: 20px;
  }
  .footer_form input {
    padding: 20px 5%;
  }
}

/* ola */
