.contenedor_principal {
  margin-top: 4%;
  width: 100%;
  padding-left: 10%;
}
.lineUp {
  height: 8px;
  width: 100px;
  background-color: var(--color-secundario);
  border-radius: 50px;
  margin-bottom: 20px;
}
.titulos h1 {
  color: var(--color-titulos);
  font-size: 2.2rem;
  font-weight: bolder;
}

.contenido_container {
  display: flex;
  justify-content: space-between;
}

.img_text {
  display: flex;
  align-items: center;
  margin: 50px 0px;
}

.img_text img {
  margin-right: 40px;
  width: 80px;
  height: 65px;
  object-fit: contain;
}

.img_text p {
  margin-right: 100px;
  color: var(--color-texto);
}

.img_text p span {
  color: var(--color-secundario);
  font-size: 1.1rem;
}

@media screen and (max-width: 500px) {
  .contenedor_principal {
    margin-top: 20%;

    width: 100%;
  }

  .titulos h1 {
    font-size: 1.2rem;
  }

  .contenido_container {
    flex-direction: column;
  }

  .contenido_container .img_text {
    display: block;
    font-size: 0.99rem;
    text-align: center;
  }

  .contenido_container .img_text img {
    margin-right: 90px;
  }
}
